
* @Author: YAN7
* @Date:   2016-07-03 09:32:08
* @Last Modified by:   apple
* @Last Modified time: 2016-07-05 01:03:22
*/
@CHARSET "UTF-8";
html{margin:0; padding:0; border:0; }
body,div,span,object,iframe,h1,h2,h3,h4,p,blockquote,pre,a,address,code,b,em,img, dl,dt,dd,ol,ul,li,fieldset,form,label,footer,header,hgroup,nav,section {margin:0; padding:0;border:0; }
body{background: #fff; color:#666; position:relative; font-size:100%; font:12px/1.5 微软雅黑,arial,宋体; vertical-align:baseline; width:100%; overflow-x:hidden; user-select: none; -webkit-user-select: none; -o-user-select: none; -ms-user-select: none; }
a{text-decoration:none; outline:none; }
a:link{color:#666; }
a:visited{color:#666; }
a:hover,a:active,a:focus{color:#666; text-decoration:underline; outline:none; text-decoration:none; }
input{padding:0; margin:0; }
img{border:none; background:none; vertical-align:middle; }
ul,ol,li{list-style-type:none; }
select,input,img,select{vertical-align:middle; }
table{border-collapse:collapse; border-spacing:0; }
table, th, td {vertical-align: middle; }
.clearfix:after{content: "."; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }
.clearfix{zoom:1 }
.clearboth {height:0px; line-height:0px; overflow:hidden; clear:both; font-size:0px; }
h1,h2,h3,h4{font-size:12px; font-weight:bold; }
hr {border: 0; border-top:1px solid #ccc; height:0; }
/* -----------------------------华丽的分割线---------------------------------- */


ul {width: 1230px; height: 480px; border: 1px solid #000; margin: 50px auto; }
ul li {float: left; margin: 10px; position: relative; overflow: hidden;  cursor:pointer; transition: all .3s ease-in;}
ul li img {border: 5px solid #ccc;}
ul li div {background-color: lightgreen; position: absolute; z-index: 10; transition: all .3s ease-in;}
ul li .top, .bottom{width: 380px; height: 5px;}
ul li .top { width: 390px; left: -390px;}
ul li .bottom {top: 215px; left: 390px;}
ul li .left, .right {width: 5px; height: 215px;}
ul li .left{left: 0; top: -215px;}
ul li .right {left: 385px; top: 220px;}
ul li p {position: absolute; width: 385px; height: 30px; background-color: cyan; text-align: center; font: 15px/30px 'simsun'; top: 220px; transition: all .3s ease-in;}

/* ================ 动画 c3-transition属性================= */
/* li:hover .top{left: 0px;}
li:hover .bottom{left: 5px;}
li:hover .left{top: 5px;}
li:hover .right{top: 5px;}
li:hover p{top: 185px;}
li:hover img{opacity:1;}
li:hover {box-shadow: 5px 5px #ddd;} */

/* ================ 动画 c3-@keyframes动画以及animation属性================= */

@keyframes moveTop {form {left: -390px;} to {left: 0px;} }
@keyframes moveBottom {from {left: 390px;} to {left: 5px;} }
@keyframes moveLeft {from {top: -215px;} to {top: 5px;} }
@keyframes moveRight {from {top: 220px;} to {top: 5px;} }
@keyframes moveText {from {top: 220px;} to {top: 185px;} }

li:hover .top{animation: moveTop 0.4s ease-in forwards; }
li:hover .bottom{animation: moveBottom 0.4s ease-in forwards;}
li:hover .left{animation: moveLeft 0.4s ease-in forwards;}
li:hover .right{animation: moveRight 0.4s ease-in forwards;}
li:hover p{animation: moveText 0.4s ease-in forwards;}
li:hover img {transition:all .4s ease-in; transform: scale(1.1, 1.1); } /* 使图片以动画的形式缩放 */
